x-shared-variables: &common-variables
  POSTGRES_HOST: suggestions_db
  POSTGRES_DB: suggestions_db
  POSTGRES_USER: suggestions_db_user
  POSTGRES_PASSWORD: product-defeat-follow-worshiper-swimwear-drown
  POSTGRES_PORT: 2501
  REDIS_URL: "redis://default:haziness-sloppy-cycle-deduct-superman-undertook@suggestions_redis:2202/0"

services:
  suggestions_db:
    image: postgres:17
    container_name: "suggestions_db"
    command: -p 2501
    ports:
      - "2501:2501"
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_DB: suggestions_db
      POSTGRES_USER: suggestions_db_user
      POSTGRES_PASSWORD: product-defeat-follow-worshiper-swimwear-drown
    volumes:
      - .db:/var/lib/postgresql/data
  suggestions_saq:
    build:
      context: .
      dockerfile: ./docker/saq/Dockerfile
    container_name: "suggestions_saq"
    depends_on:
      - suggestions_redis
    ports:
      - "8080:8080"
    environment:
      <<: *common-variables
      EXTRA_ARGS: "--web --verbose"
  suggestions_redis:
    image: redis:8.4.0-alpine
    container_name: "suggestions_redis"
    ports:
      - '2202:2202'
    command: redis-server --port 2202 --save 20 1 --loglevel warning --requirepass haziness-sloppy-cycle-deduct-superman-undertook
    volumes:
      - cache:/data


volumes:
  cache:
    driver: local


#networks:
#  default:
#    name: spook
#    external: true
