<div class="modal fade" id="gt_modal_remove-{{ token.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-3 modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove Premium</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="card card-md" method="POST" autocomplete="off">
                {{ csrf_input | safe }}
                <input type="hidden" name="row" value="{{ token.id }}">
                <div class="modal-body">
                    <div class="modal-title">Are you sure?</div>
                    <div>This will remove premium from <i>{{ guild_names[token.used_for_guild] }}</i>.</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>