{% extends 'base.jinja' %}
{% block title %}Sign In{% endblock %}
{% block content %}
    <div class="page page-center">
        <div class="container container-tight py-4">
            {% include 'alerts.jinja' %}
            <div class="card card-md">
                <div class="card-body">
                    <h2 class="h2 text-center mb-4">Confirm sign in</h2>
                    <form method="POST" autocomplete="off" novalidate>
                        {% if csrftoken and csrf_cookie_name %}
                            <input type="hidden" name="{{ csrf_cookie_name }}" value="{{ csrftoken }}"/>
                        {% endif %}
                        {% if requires_info %}
                            <small>We require some more info from you to proceed.</small><br>
                            <div class="mb-3">
                                <label class="form-label" for="name">Name</label>
                                <input id="name" name="name" type="text" class="form-control"
                                       placeholder="Enter your name"
                                >
                            </div>
                        {% else %}
                            <p>Are you sure?</p><br>
                        {% endif %}
                        <p>You'll be signed in as <b>{{ email }}</b></p>
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary w-100">Confirm sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}