{% macro insert_cf_turnstile() %}
    <div class="cf-turnstile" data-sitekey="{{ CF_TURNSTILE_SITE_KEY }}" data-response-field-name="turnstile-token"></div>
{%- endmacro %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
    <!-- CSS files -->
    <script
            src="https://cdn.jsdelivr.net/npm/@tabler/core@1.3.2/dist/js/tabler.min.js" nonce="{{ csp_nonce }}">
    </script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@tabler/core@1.3.2/dist/css/tabler.min.css" nonce="{{ csp_nonce }}"/>
    <style nonce="{{ csp_nonce }}">
        @import url('https://rsms.me/inter/inter.css');

        :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }

        body {
            font-feature-settings: "cv03", "cv04", "cv11";
        }
    </style>
    <link rel="preconnect" href="https://challenges.cloudflare.com" nonce="{{ csp_nonce }}">
    <script
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer
      nonce="{{ csp_nonce }}"
    ></script>
</head>
<body>
{% include 'sidebar.jinja' %}
{% block content %}{% endblock %}
</body>
</html>