{% macro base_item(display ,href, svg='') %}
    <li class="nav-item">
        <a class="nav-link" href="{{ href }}">
    <span class="nav-link-icon d-md-none d-lg-inline-block">
        {{ svg|safe }}
    </span>
            <span class="nav-link-title">
        {{ display }}
    </span>
        </a>
    </li>
{%- endmacro %}
{% macro start_dropdown(title, svg='') %}
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#navbar-{{ title|lower }}" data-bs-toggle="dropdown"
       data-bs-auto-close="false" role="button" aria-expanded="false">
<span class="nav-link-icon d-md-none d-lg-inline-block">
{{ svg|safe }}
</span>
        <span class="nav-link-title">
{{ title }}
</span>
    </a>
    <div class="dropdown-menu">
    <div class="dropdown-menu-columns">
    <div class="dropdown-menu-column">
{%- endmacro %}
{% macro dropdown_item(text, href) %}
    <a class="dropdown-item" href="{{ href }}">
        {{ text }}
    </a>
{%- endmacro %}
{% macro end_dropdown() %}
    </div>
    </div>
    </div>
    </li>
{%- endmacro %}
{#This is used to make a dropdown in a dropdown#}
{% macro nested_dropdown_menu(title) %}
    <div class="dropend">
    <a class="dropdown-item dropdown-toggle" href="#sidebar-{{ title|lower }}"
       data-bs-toggle="dropdown" data-bs-auto-close="false" role="button"
       aria-expanded="false">
        {{ title }}
    </a>
    <div class="dropdown-menu">
{%- endmacro %}
{% macro end_nested_dropdown_menu() %}
    </div>
    </div>
{%- endmacro %}
<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
                aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark">
            <a href="/">
                {{ site_name }}
            </a>
        </h1>
        <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3">
                {{ base_item('Home', '/', '<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                            d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path
                            d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path
                            d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg>') }}

                {{ base_item('Guilds', url_for('view_all_guilds'), '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-discord"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" /><path d="M14 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" /><path d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-.972 1.923a11.913 11.913 0 0 0 -4.053 0l-.975 -1.923c-1.5 .16 -3.043 .485 -4.5 1.5c-2 5.667 -2.167 9.833 -1.5 11.5c.667 1.333 2 3 3.5 3c.5 0 2 -2 2 -3" /><path d="M7 16.5c3.5 1 6.5 1 10 0" /></svg>') }}

                {{ start_dropdown('Auth', '<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-tabler"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9l3 3l-3 3" /><path d="M13 15h3" /><path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" /></svg>') }}
                {% if request.scope.get('user') %}
                    {{ dropdown_item('Sign out', url_for('sign_out')) }}
                    {% if not request.user.auths_without_password %}
                        {{ dropdown_item("Manage MFA", url_for("manage_totp_mfa")) }}
                        {{ dropdown_item("Change password", url_for("change_password")) }}
                        {{ dropdown_item("Manage OAuth Providers", url_for("link_oauth_accounts")) }}
                    {% endif %}
                    {% if request.user.admin %}
                        {{ dropdown_item('Admin Dashboard', '/admin/') }}
                    {% endif %}
                {% else %}
                    {{ dropdown_item('Sign in', url_for('discord_sign_in')) }}
                {% endif %}
                {{ end_dropdown() }}
                {{ start_dropdown('Extra', '<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path  d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path d="M15 15l3.35 3.35"></path><path d="M9 15l-3.35 3.35"></path><path d="M5.65 5.65l3.35 3.35"></path><path  d="M18.35 5.65l-3.35 3.35"></path></svg>') }}
                {{ dropdown_item('API Docs', '/docs') }}
                {% if request.user.admin %}
                    {{ dropdown_item('SAQ Queues', '/saq/') }}
                {% endif %}
                {{ end_dropdown() }}
                {% if not is_production %}
                    {{ start_dropdown("Debug", '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bug"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 9v-1a3 3 0 0 1 6 0v1" /><path d="M8 9h8a6 6 0 0 1 1 3v3a5 5 0 0 1 -10 0v-3a6 6 0 0 1 1 -3" /><path d="M3 13l4 0" /><path d="M17 13l4 0" /><path d="M12 20l0 -6" /><path d="M4 19l3.35 -2" /><path d="M20 19l-3.35 -2" /><path d="M4 7l3.75 2.4" /><path d="M20 7l-3.75 2.4" /></svg>') }}
                    {{ dropdown_item('OAuth Data', url_for('debug_oauth_data')) }}
                    {{ dropdown_item('SigNoz Data', url_for('debug_signoz_data')) }}
                    {{ end_dropdown() }}
                {% endif %}
            </ul>
        </div>
    </div>
</aside>